# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
env/
venv/
*.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Mac/Linux system
.DS_Store

#folder foto
absensi_foto/

